<div>

</div>

{{#if blogs.length}}
   <h3>Current Projects:</h3>
   {{#each blogs as |blog|}}
       <div class="col-sm-5 mb-4 project lightBlue border border-primary rounded">
        <div class="col-md-5">
            <h2>
                <a href="/blog/{{blog.id}}">{{blog.name}}</a>
            </h2>
            <p>Created by {{name}} on {{format_date blog.date_created}}</p>
            <p>
                {{blog.description}}
            </p>
        </div>

    </div>
    {{/each}}
{{/if}}

  <div class="position-fixed bottom-0 p-3">
      <button class="btn btn-primary" id="create">Create a post</button>
  </div>